<% include ./partials/header %>
<div class="ui grid container">
  <section class="ui top attached segment centered">

      <h1 class="ui huge brown header">Create the collection of jokes that make you smile</h1>

    <div class="ui raised segment">
      <div class="ui raised segment">
        <p class="text"> <q>A sense of humor is part of the art of leadership, of getting along with people, of getting things done.</q>- Dwight D. Eisenhower</p>
      </div>
      <div class="ui raised secondary segment">
        <p class="text"> <q>Not living in fear is a great gift, because certainly these days we do it so much. And do you know what I like about comedy? You can't laugh and be afraid at the same time — of anything. If you're laughing, I defy you to be afraid.</q>- Stephen Colbert</p>
      </div>
      <div class="ui raised segment">
        <p class="text"> <q>I think the next best thing to solving a problem is finding some humor in it.</q> - Frank A. Clark</p>
      </div>
      <div class="ui raised secondary segment">
        <p class="text">Laughter is the Best Medicine: <blockquote cite="https://www.helpguide.org/articles/mental-health/laughter-is-the-best-medicine.htm"> Laughter is a powerful antidote to stress, pain, and conflict. Nothing works faster or more dependably to bring your mind and body back into balance than a good laugh. Humor lightens your burdens, inspires hopes, connects you to others, and keeps you grounded, focused, and alert. It also helps you to release anger and be more forgiving.  <a href="https://www.helpguide.org/articles/mental-health/laughter-is-the-best-medicine.htm" target="_blank">read full article</a></blockquote> </p>
      </div>

      <p class="text">There are many jokes in the world, some are smart, some can make you laugh very hard, and some jokes are not funny at all. </p>
      <p class="text">Many studies show the benefitial effects of humor on dealing with stress, increasing resilience, helping in coping with adversity. </p>
      <p class="text">Any of us would like to have some pick-me-up on a not-so-good-really-crappy-day and collection of funny jokes can be a good start.</p>
      <p class="text"> So <a href="/jokes/login">sign up</a> today to start collection of jokes that make you smile.</p>

      <div class="ui raised segment">
        <h2 class="ui large header">Articles on humor:</h2>
        <ul class="ui list">
          <li class="item text"><a href="https://www.ncbi.nlm.nih.gov/pubmed/19653782" target="_blank">Finding comfort in a joke: consolatory effects of humor through cognitive distraction.</a></li>
          <li class="item text"><a href="https://www.ncbi.nlm.nih.gov/pubmed/26379608" target="_blank">That's not funny! - But it should be: effects of humorous emotion regulation on emotional experience and memory.</a></li>
          <li class="item text"> <a href="https://hbr.org/2014/05/leading-with-humor" target="_blank">
          Harvard Business Review: Leading with Humor</a> </li>
          <li class="item text"> <a href="https://www.psychologytoday.com/articles/200304/the-benefits-laughter?collection=98141" target="_blank">
          The Benefits of Laughter: Why laughter may be the best way to warm up a relationship</a> </li>
        </ul>
      </div>
    </div>
 </div>
 </section>

 <div class="ui doubling stackable grid container">
  <div class="ui top attached segment">
    <div class="ui two stackable cards">

    <% jokes.forEach(function(joke) { %>
      <section class="ui padded purple card" role="region">

          <div class="image small">
            <img class="ui centered rounded os small image" src="<%= joke.image %>" alt="joke image">
          </div>
        
          <div class="content">
          <h2 class="header">Title: <%=joke.title%></h2>
            <div class="meta">
              <span class="date"><%= joke.publishDate %></span>
            </div>
            <div class="description">
              <p class="joke-content"><%- joke.content %></p>
            </div>
            <div class="extra content btns">
              <a class="ui orange basic big button" role="button" href="/jokes/<%= joke._id %>/edit">Edit</a>
              <form id="btn-delete" action="/jokes/<%= joke._id %>?_method=DELETE" method="POST">
                <button class="ui black basic big button">Delete</button>
              </form>
            </div>
        </div>
      </section>
    <% }); %>

    </div>
  </div>
</div>

<% include ./partials/footer %>
