<% include ./partials/header %>
<div class="ui grid container">
  <section class="ui top attached segment centered">

      <h1 class="ui huge brown header">Make the collection of jokes that make you smile</h1>

    <div class="ui raised segment">
      <p class="text">There are many jokes in the world, some are smart, some can make you laugh very hard, and some jokes are not funny at all. </p>
      <p class="text">I like to laugh. Who doesn't? There are many studies that show the benefitial effects of humor on dealing with stress, increasing resilience, helping in coping with adversity. </p>

      <div class="ui segment">
        <h2 class="ui large header">Articles on humor:</h2>
        <ul class="ui list">
          <li class="item text"><a href="https://www.ncbi.nlm.nih.gov/pubmed/19653782" target="_blank text">Finding comfort in a joke: consolatory effects of humor through cognitive distraction.</a></li>
          <li class="item text"><a href="https://www.ncbi.nlm.nih.gov/pubmed/26379608" target="_blank">That's not funny! - But it should be: effects of humorous emotion regulation on emotional experience and memory.</a></li>
          <li class="item text"> <a href="https://hbr.org/2014/05/leading-with-humor">
          Harvard Business Review: Leading with Humor</a> </li>
        </ul>
      </div>

    </div>
 </div>
 </section>
 <div class="ui doubling stackable grid container">
  <div class="ui top attached segment">
    <div class="ui two stackable cards">
    <% jokes.forEach(function(joke) { %>
      <section class="ui padded purple card" role="region">
        <div class="image small">
          <img class="ui centered rounded os small image" src="<%= joke.image %>" alt="joke image">
        </div>
        <div class="content">
          <h2 class="header">Title: <%=joke.title%></h2>
            <div class="meta">
              <span class="date"><%= joke.publishDate %></span>
            </div>
            <div class="description">
              <p class="joke-content"><%- joke.content %></p>
            </div>
            <div class="extra content btns">
              <a class="ui teal basic big button" role="button" href="/jokes/<%= joke._id %>/edit">Edit</a>
              <form id="btn-delete" action="/jokes/<%= joke._id %>?_method=DELETE" method="POST">
                <button class="ui black basic big button">Delete</button>
              </form>
            </div>
        </div>
      </section>
    <% }); %>
    </div>
  </div>
</div>

<% include ./partials/footer %>
