
<% include ./partials/header %>

 <div class="ui doubling stackable grid container">
  <div class="ui top attached segment">
  
  <div class="ui raised sentered segment">
    <h1 class="ui huge orange header">Hello <%= user.username> here is your favorite jokes</h1>
        <p class="text">Time to smile :)</p>
      
      <form action="/jokes/new" method="GET">
          <button class="ui purple basic big button">Add a new joke</button>
      </form>
     
  </div>

    <div class="ui two stackable cards">

    <% jokes.forEach(function(joke) { %>
      <section class="ui padded purple card" role="region">

          <div class="image small">
            <img class="ui centered rounded os small image" src="<%= joke.image %>" alt="joke image">
          </div>
        
          <div class="content">
          <h2 class="header">Title: <%=joke.title%></h2>
            <div class="meta">
              <span class="date"><%= joke.publishDate %></span>
            </div>
            <div class="description">
              <p class="joke-content"><%- joke.content %></p>
            </div>
            <div class="extra content btns">
              <a class="ui orange basic big button" role="button" href="/jokes/<%= joke._id %>/edit">Edit</a>
              <form id="btn-delete" action="/jokes/<%= joke._id %>?_method=DELETE" method="POST">
                <button class="ui black basic big button">Delete</button>
              </form>
            </div>
        </div>
      </section>
    <% }); %>

    </div>
  </div>
</div>

<% include ./partials/footer %>
