
<html lang="en">
  <head>
    <title>PickMeUp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
<link rel="icon" type="image/png" href="/images/smile.png">
<link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Roboto:400,500" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">

<link rel="stylesheet" href="/stylesheets/app.css">
  </head>

<body>
  
<nav role="navigation">
	<ul class="nav-list">
      <li><a class="active" href="/jokes" disabled>PickMeUp</a></li>
			<li><a href="/jokes">Home</a></li>
			<li><a href="/jokes/#part-2">About</a></li>
      <li class="right"><a href="/">Log Out</a></li>
		</ul>
	</nav>
  
  <main>

  <div class="ui doubling stackable container">
   <div class="ui top segment">

  <div class="ui raised centered segment" id="user-bg">
    <h1 class="ui huge teal header">Hello there! <span class="hiUser"> <%= (user.username)[0].toUpperCase() + (user.username).substring(1) %> </span> </h1>
    <h2 class="ui large header"> Nice to see you!</h2>
    <p class="text">Start creating your collection.</p>
      
      <form action="/jokes/users/new/<%= user._id %>" method="GET">
          <button class="ui purple labeled icon large button"><i class="write icon"></i>Add new joke</button>
      </form>   
   </div>

    <div class="ui two stackable cards">

    <% jokes.forEach(function(joke) { %>
     
      <section class="ui padded purple  card" role="region">

      <div class="content">
        <h2 class="header" aria-label="title"> <%= joke.title %></h2>
      </div>

      <%if ( joke.image  !== '') { %>         
          <div class="ui medium centered image img">
            <img class="ui centered rounded image" src="<%= joke.image %>" alt="joke image">
          </div>      
      <% } %>

          <div class="content">         
            <div class="meta">
              <span class="date">Added on <%= joke.publishDate %></span>
            </div>
            <div class="description">
              <p class="joke-content"><%= joke.content %></p>
            </div>
            <div class="extra content btns">
              <a class="ui purple labeled basic icon button" role="button" href="/jokes/users/edit/<%= joke._id %>"><i class="edit icon"></i>Edit</a>
              <form class="btn-delete" action="/jokes/users/<%= joke._id %>?_method=DELETE" method="POST">
                <button class="ui black labeled basic icon button"><i class="trash outline icon"></i>Delete</button>
              </form>
            </div>
        </div>
      </section>
      
    <% }); %>

    </div>
  </div>
</div>

<div class="margin-top"></div>

</main>
</body>
</html>
